*{
	margin: 0;
	padding: 0;
 box-sizing: border-box;
}

body{
 background-color: rgba(248, 240, 251);
	font-family: Roboto, sans-serif;
}

header{
	text-align: center;
	background-color: #1F2937;
	color: rgba(255, 255, 255);
}

header img{
	width: 100%;
 height: 9.5rem; 
	object-fit: cover;
	display: block;
}

header h1{
	background-color: rgba(31, 41, 55);
	font-weight: bold;
	font-size: 2.2rem;
 padding-top: 1rem;
	padding-bottom: 1rem;
}

main{
 text-align: center;
 padding-top: 2.4rem;
 padding-bottom: 120px;
 
}

footer {
	background-color: rgba(71, 71, 152);
	padding: 15px;
	text-align: center;
	color: rgba(255, 255, 255);
	height: 4.49rem;
 margin-top: 80px;
}

footer p:nth-child(1) {
	color: white;
	font-size: 1.2rem;
	margin: 0 0 5px;
}

#lastModified {
	color: rgba(154, 205, 50);
	font-size: 0.9rem;
}